a { text-decoration: none; color: #242230; }
body { background-color: #ffffff; text-align: center; }
p { color: #242230; font-family: 'Courier Prime', monospace; margin-bottom: 0;}
h1, h2, h3, h4, h5, h6 { font-family: 'Public Sans', sans-serif; }
.container-fluid { background-color: #ffffff; }

/* Navigation______________________________________________________________________________________________________________________*/
/* .banner{top: 0; position: fixed;} */
.navbar{ margin-top: 20px; }
.navbar-brand { color: #242230;font-family: 'Public Sans', sans-serif ; font-weight: 800; margin-left: 50px; }
.navbar-nav{ margin-right: 30px; }
.smalltext { color: #242230; font-family: 'Courier Prime', monospace; font-size: 1rem; font-weight: normal; margin-left: 10px; }

/* About Me________________________________________________________________________________________________________________________*/
.about-me{ margin-top:20px; }
.middle { margin: 10% auto; }
.pic { text-align: right; }
.myimage { border-radius: 100%; height: 350px; width: 350px; }
.mysummary { margin: 50px 0 0; text-align: left; }
.heading { font-family: 'Public Sans', sans-serif; font-size: 3rem; font-weight: 800; }
.thickboi{font-weight:bold;}

/* Contact__________________________________________________________________________________________________________________________*/
hr { color: #242230; padding: 0 50px; }
.copyright{ font-size: 0.75rem; margin: 50px auto 25px; }
.footertab { margin: 50px auto 0; }

/* Resume___________________________________________________________________________________________________________________________*/
/* .resume-details{ margin: 50px 15%; } */
.resume-header{ text-align: left; font-family: 'Public Sans', sans-serif; font-size: 2rem; font-weight: 800; margin-left: 50px;}
.title{font-weight:bold; margin: 0 15%; text-align:left;}
.subtitle{font-weight:bold; text-align:left;}
.info-left{ text-align: right; }
.info-right{ text-align: left; }
.resume-download{ padding: 20px; }
.work-experience, .web-development{ margin: 50px 0;}
.work-title{margin-bottom: 25px;}
.info-container{margin-top:20px;}
.downloadresume{margin: 20px auto 50px;}
/* Projects________________________________________________________________________________________________________________________*/
.colo{width:300px;}
/* .colo-vid{box-shadow: 0 5px 10px -3px #888888;} */
.colo-pubs{width: 200px;}
.film-description{font-size: 0.8rem; color: #666666;width:300px; margin:0 auto 30px;}
.git-description{font-size: 0.8rem; color: #666666; margin:0 auto 30px;}
.graphictext{margin:20px auto 30px;}
.skillsbadge{border-radius:50%; width: 40px; margin-top: 10px;}
.web-frames{margin: 0 5% 0 15%;}
.web-development p{ margin-top: 10px;}
.git-image{width:100px;margin: auto;}


/* Media QUery______________________________________________________________________________________________________________________*/
@media (max-width:768px) {
  .pic {text-align: center;}
  .mysummary {margin: 30px 0 0; text-align: center;}
  .info-left{ text-align: center; }
  .info-left p{margin: 0 auto;}
  .info-right{ text-align: center; }
  .title{font-weight:bold; margin: 0 15% 20px; text-align:center;}
  .subtitle{font-weight:bold; margin: 0 auto 20px; text-align:center;}
  .resume-details p {font-size: 0.9rem;}
  .resume-header{ text-align: center; font-family: 'Public Sans', sans-serif; font-size: 2rem; font-weight: 800; margin-left: 0;}
  .job-title {font-size: 1.2rem;}
  .web-frames{margin: 0;}
  .education{ margin: auto; width: 80%;}
  .colo-pubs{width: 300px; margin: 20px auto 10px;}
}
@media (max-width: 1160px){.mysummary {margin: 25px 0 0;}}
@media (max-width: 915px){.mysummary {margin: 15px 0 0;}}
