html,body{
  padding: 0;
  margin:0;
}

a{
  text-decoration: none;
  color: #000;
}
/* font-family: 'IBM Plex Serif', serif; */

p,li{
  font-family: 'IBM Plex Serif', serif;
}

h1{
  font-family: 'Arapey', serif;
}

h2,h3,h4{
  font-family: 'Poppins', sans-serif;
}

h4{
  margin: 20px auto 0;
  text-transform: uppercase;
}
/* Navigation */
.navigation{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 10px 30px;
}
.logo{
  border-radius: 40px;
  display: inline-block;
  height: 40px;
}
li{
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
}
ul{
  display: inline-block;
}


/* Title div */
.title-div{
  text-align: center;
}
.brand-logo{
  font-size: 5rem;
  margin: 60px auto 10px;
}
.brand-logline p{
  margin: 16px auto 60px;
  font-size: 1.2rem;
}

/* Portfolio */
.portfolio{
  padding: 30px 10px;
  max-width: 80%;
  margin:auto;
  text-align: center;
}
.project{
  display: inline-block;
  margin: 50px 20px;
}
.project-banner-image{
  height: 200px;
  width: 200px;
}
.project-synopsis{
  font-size: 0.9rem;
  text-align: left;
}
.project-synopsis p{
  margin: 0;
}
.project-title{
  text-align: left;
}

/* Newsletter */
.newsletter{
  margin: 50px auto 80px;
  text-align: center;
}
.subscription{
  border-radius: 0;
  border-width: thin;
  font-family: 'IBM Plex Serif', serif;
  padding: 9px;
}
.sub-button{
  background-color: #0071BC;
  border-radius: 0;
  border-style: none;
  color: #fff;
  font-family: 'IBM Plex Serif', serif;
  margin: auto 0 auto 20px;
  padding: 10px;
}

.sub-button:hover{
  background-color: #fff;
  border-style:solid;
  border-width: thin;
  color: #000;
  padding: 9px;
}

/* footer */
.footer-div{
  text-align: center;
  background-color: #0071BC;
  color: #ffffff;
  padding: 10px;
}
.footer-div p{
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  margin: 5px 0;
}
